html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

h1 {
  display: none;
  font-family: sans-serif;
  font-size: 77px;
  text-align: center;
}

li {
  background-color: lightgray;
  display: inline-block;
  border: 5px solid white;
  height: 100px;
  width: 100px;
  float: left;
}


li:hover {
  background-color: darkcyan;
  /*background-color: lightpink;*/

}

ul {
  padding-top: 5%;
  margin: auto;
  position: relative;
  width: 100px;
}

.blue {
  /*position: absolute;*/
  /*bottom: 50%;*/
  background-color: blue;
}

.red {
  /*position: absolute;*/
  /*bottom: 50%;*/
  background-color: red;
}



body {
  position: relative;
}

/*.restart {
  background-color: teal;
  margin: auto;
  float: left;
  position: relative;
  width: 340px;
}*/
